@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;/*Grosor de la letra*/
    font-style: Italic;
}

:root{
    --main-color:white;
    --secondary-color: #1b1b1a;
    --third-color: rgb(49, 49, 51);
}

body{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2{
    font-size: 2.5rem;
    font-weight:700;
    margin-bottom: 20px;
}

header, footer{
    background-color: var(--third-color);
    color: var(--main-color);
    padding: 20px;
}

/*Fijo el header 15vh y para que al scrollar no se baje*/
.header{
    height: 10vh;
    position: sticky;
    top:0;
    nav{
        height: 100%;;
        display: flex;
        align-items: center;
        /* background-color: green; */
        justify-content: space-between;

        ul{
            font-size: 1.4rem;
            list-style: none;
            display: flex;
            /* background-color: red; */
            column-gap: 20px;
        }

    }

    .LogoCACFlix{
        height: 50px;
    }
    a{
        text-decoration: none;
        color: var(--main-color);
    }

}

/*Completo el resto del la paginaen 85vh 100-15 del header*/
.sectionTitulo{
    height: 85vh;
    /* background: linear-gradient(to bottom, #000000a3, #000000a3), url("../assets/img/fondoMovie2.jpeg"); */
    background: linear-gradient(to bottom, #1b1b1b96, #1b1b1b96), url("../assets/img/fondoMovie2.jpeg");
    background-position: center;/*Centro la img*/
    background-size: cover; /*Que ocuoe todo el espacio disponible*/
    background-repeat: no-repeat;/*No repita la img*/
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedorTitulo{
        text-align: center;    
        /*backdrop-filter: blur(10px);*//*Efecto desenfocado*/
        /*Centrado y que no ocupe todo el ancho*/
        width: 60%;
        margin: 0 auto; /*Para que me centre el div*/
        /*Lo corrijo en la etiqueta padre con display, justify y align */
        /*padding-top: 50px;*/ /*Bajo un poco el texto que esta dentro de este contenedor*/
        /*Boton registrate*/
        a{
            margin-top: 20px;
            display: inline-block;/*Al ser en del tipo en line, para poder darle ancho y alto..*/
            text-decoration: none;
            color: var(--main-color);
            font-size: 2rem;
            border: 2px solid var(--main-color);
            border-radius: 5px;
            padding: 10px 20px;
        }
        
    }
}
.sectionBuscar{
    text-align: center;
    margin: 20px 0;
}

.peliculasTendencias{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h2{
        /* margin: 20px 0; */
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .galeriaTendencias{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        div{
            width: 250px;
            height: 350px;
            box-shadow: 10px 10px 47px -6px rgba(255, 255, 255, 0.40); /* Iluminosisdad a las tarjetas */
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        };
    }
    button{
        margin-bottom: 20px;
    }
}


.peliculasAclamadas{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    h2{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .galeriaAclamadas{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 20px;

        div{
            width: 200px;
            height: 350px;
            flex-shrink: 0;
            /* box-shadow: 10px 10px 47px -6px rgba(255, 255, 255, 0.40); */ /* Iluminosisdad a las tarjetas */
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        };
    }
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.galeriaAclamadas::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.galeriaAclamadas::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.galeriaAclamadas::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


/*Pagina InicioSesion*/
.FormLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Pagina Registrase*/
.FormRegistrarse{
    display: flex;
    justify-content: center;
    align-items: center;
}



